<a href="https://colab.research.google.com/github/KJLumalang/ITBA-3206_Planeteers/blob/main/ITBA_3206_Planeteers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import numpy as np
import pandas as pd

In [33]:
pd.option_context('display.max_rows', None)
pd.option_context('display.max_columns', None)

In [34]:
df = pd.read_csv('https://raw.githubusercontent.com/KJLumalang/ITBA-3206_Planeteers/main/historical_emissions.csv')
df.head()
display(df)

,Country,Data source,Sector,Gas,Unit,2018,2017,2016,2015,2014,...,1999,1998,1997,1996,1995,1994,1993,1992,1991,1990
0,World,CAIT,Total including LUCF,All GHG,MtCO₂e,48939.71,47990.47,47413.95,46760.47,46647.29,...,34948.94,34929.19,35387.89,34068.91,33703.46,32977.47,32766.49,32670.32,32813.46,32645.91
1,China,CAIT,Total including LUCF,All GHG,MtCO₂e,11705.81,11408.26,11207.66,11149.68,11155.76,...,4053.37,4103.23,3963.61,3954.75,3918.30,3528.81,3377.79,3154.54,3023.38,2873.71
2,United States,CAIT,Total including LUCF,All GHG,MtCO₂e,5794.35,5613.64,5676.92,5586.69,5711.15,...,6291.25,6293.80,6258.47,6010.62,5843.90,5782.20,5691.26,5583.80,5501.92,5543.47
3,India,CAIT,Total including LUCF,All GHG,MtCO₂e,3346.63,3202.82,3073.24,3002.17,2988.34,...,1460.24,1382.26,1348.09,1289.63,1240.44,1174.78,1128.44,1096.71,1064.49,1009.44
4,European Union (27),CAIT,Total including LUCF,All GHG,MtCO₂e,3333.16,3401.95,3387.97,3046.38,2990.49,...,3934.85,4008.29,4048.58,4126.40,4018.79,3968.32,3984.95,4058.11,4202.13,4279.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Kiribati,CAIT,Total including LUCF,All GHG,MtCO₂e,0.11,0.10,0.10,0.09,0.09,...,0.05,0.05,0.05,0.05,0.05,0.04,0.05,0.04,0.04,0.04
191,Cook Islands,CAIT,Total including LUCF,All GHG,MtCO₂e,0.10,0.09,0.09,0.08,0.08,...,0.05,0.05,0.05,0.04,0.04,0.03,0.03,0.03,0.03,0.03
192,Nauru,CAIT,Total including LUCF,All GHG,MtCO₂e,0.08,0.07,0.07,0.06,0.06,...,0.10,0.11,0.11,0.11,0.11,0.12,0.12,0.13,0.13,0.13
193,Tuvalu,CAIT,Total including LUCF,All GHG,MtCO₂e,0.03,0.03,0.02,0.02,0.02,...,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02
194,Niue,CAIT,Total including LUCF,All GHG,MtCO₂e,0.01,0.01,0.01,0.01,0.01,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01

Warning: Total number of columns (34) exceeds max_columns (20) limiting to first (20) columns.