<a href="https://colab.research.google.com/github/KJLumalang/ITBA-3206_Planeteers/blob/main/ITBA_3206_Planeteers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Libraries and Data Set**

Importing libraries and data sets

In [214]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [215]:
pd.option_context('display.max_rows', None)
pd.option_context('display.max_columns', None)

In [216]:
df = pd.read_csv('https://raw.githubusercontent.com/KJLumalang/ITBA-3206_Planeteers/main/historical_emissions.csv')

# **Data Cleaning**

In [217]:
df.head(387)
display(df)

,Country,Data source,Sector,Gas,Unit,2019,2018,2017,2016,2015,...,1999,1998,1997,1996,1995,1994,1993,1992,1991,1990
0,World,CAIT,Energy,All GHG,MtCO₂e,37636.10,37603.22,36777.63,36188.89,36173.70,...,25389.87,25257.77,25075.28,24656.11,24150.88,23501.77,23395.58,23265.41,23365.41,23244.24
1,China,CAIT,Energy,All GHG,MtCO₂e,10618.71,10432.77,10025.78,9806.69,9860.68,...,3236.82,3340.24,3252.67,3198.31,3227.72,2899.43,2787.71,2571.87,2474.85,2360.68
2,World,CAIT,Transportation,All GHG,MtCO₂e,8434.96,8417.75,8278.48,8073.90,7923.23,...,5731.34,5566.90,5440.03,5360.38,5148.97,5012.39,4913.80,4871.85,4764.85,4725.54
3,United States,CAIT,Energy,All GHG,MtCO₂e,5246.37,5372.73,5177.80,5239.70,5355.68,...,5876.78,5863.62,5817.29,5546.45,5387.41,5334.97,5255.97,5147.10,5073.75,5112.27
4,European Union (27),CAIT,Energy,All GHG,MtCO₂e,2731.36,2869.38,2935.99,2915.36,2905.92,...,3347.54,3407.89,3419.04,3492.09,3389.17,3336.96,3357.54,3412.30,3535.21,3569.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382,Nauru,CAIT,Transportation,All GHG,MtCO₂e,0.02,0.02,0.02,0.02,0.01,...,0.02,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03
383,Niue,CAIT,Energy,All GHG,MtCO₂e,0.01,0.01,0.01,0.01,0.01,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01
384,Tuvalu,CAIT,Energy,All GHG,MtCO₂e,0.01,0.01,0.01,0.01,0.01,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01
385,Niue,CAIT,Transportation,All GHG,MtCO₂e,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
386,Tuvalu,CAIT,Transportation,All GHG,MtCO₂e,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

Removing unecessary column

In [218]:
df = df.drop(columns = 'Data source')
df

,Country,Sector,Gas,Unit,2019,2018,2017,2016,2015,2014,...,1999,1998,1997,1996,1995,1994,1993,1992,1991,1990
0,World,Energy,All GHG,MtCO₂e,37636.10,37603.22,36777.63,36188.89,36173.70,36279.47,...,25389.87,25257.77,25075.28,24656.11,24150.88,23501.77,23395.58,23265.41,23365.41,23244.24
1,China,Energy,All GHG,MtCO₂e,10618.71,10432.77,10025.78,9806.69,9860.68,9959.18,...,3236.82,3340.24,3252.67,3198.31,3227.72,2899.43,2787.71,2571.87,2474.85,2360.68
2,World,Transportation,All GHG,MtCO₂e,8434.96,8417.75,8278.48,8073.90,7923.23,7685.67,...,5731.34,5566.90,5440.03,5360.38,5148.97,5012.39,4913.80,4871.85,4764.85,4725.54
3,United States,Energy,All GHG,MtCO₂e,5246.37,5372.73,5177.80,5239.70,5355.68,5471.15,...,5876.78,5863.62,5817.29,5546.45,5387.41,5334.97,5255.97,5147.10,5073.75,5112.27
4,European Union (27),Energy,All GHG,MtCO₂e,2731.36,2869.38,2935.99,2915.36,2905.92,2845.27,...,3347.54,3407.89,3419.04,3492.09,3389.17,3336.96,3357.54,3412.30,3535.21,3569.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382,Nauru,Transportation,All GHG,MtCO₂e,0.02,0.02,0.02,0.02,0.01,0.01,...,0.02,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03
383,Niue,Energy,All GHG,MtCO₂e,0.01,0.01,0.01,0.01,0.01,0.01,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01
384,Tuvalu,Energy,All GHG,MtCO₂e,0.01,0.01,0.01,0.01,0.01,0.01,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01
385,Niue,Transportation,All GHG,MtCO₂e,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
386,Tuvalu,Transportation,All GHG,MtCO₂e,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

Finding cells with null values and replacing them with N/A

In [219]:
df.isnull().sum()

Country    0
Sector     0
Gas        0
Unit       0
2019       0
2018       0
2017       0
2016       0
2015       0
2014       0
2013       0
2012       0
2011       1
2010       1
2009       1
2008       1
2007       1
2006       1
2005       1
2004       2
2003       2
2002       2
2001       2
2000       2
1999       4
1998       4
1997       4
1996       4
1995       4
1994       5
1993       5
1992       5
1991       6
1990       8
dtype: int64

Showing rows with null value

In [220]:
nan_rows  = df.loc[df.isna().any(axis=1)]
display(nan_rows)

,Country,Sector,Gas,Unit,2019,2018,2017,2016,2015,2014,...,1999,1998,1997,1996,1995,1994,1993,1992,1991,1990
224,Cambodia,Transportation,All GHG,MtCO₂e,5.88,5.42,4.96,4.66,4.21,3.82,...,1.40,1.44,1.24,1.19,1.19,NaN,NaN,NaN,NaN,NaN
246,Namibia,Energy,All GHG,MtCO₂e,3.94,3.94,3.98,3.98,3.99,3.76,...,2.07,2.11,2.06,2.01,1.85,1.71,1.49,1.29,1.19,NaN
267,Laos,Transportation,All GHG,MtCO₂e,2.52,3.18,3.10,3.05,2.40,2.28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
279,Namibia,Transportation,All GHG,MtCO₂e,2.09,2.12,2.10,2.11,2.12,2.03,...,1.17,1.14,1.10,1.07,0.64,0.59,0.55,0.53,0.49,NaN
307,Suriname,Transportation,All GHG,MtCO₂e,0.91,0.70,0.85,1.03,0.70,0.69,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309,South Sudan,Transportation,All GHG,MtCO₂e,0.85,0.75,0.75,0.96,1.04,0.99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310,Montenegro,Transportation,All GHG,MtCO₂e,0.82,0.78,0.72,0.67,0.57,0.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
342,Eritrea,Transportation,All GHG,MtCO₂e,0.27,0.26,0.23,0.19,0.19,0.18,...,0.22,0.24,0.37,0.39,0.34,0.30,0.22,0.12,NaN,NaN

Replacing null values with N/A

In [221]:
df = df.fillna('N/A')

Checking if there are no null values anymore

In [222]:
df.isnull().sum()

Country    0
Sector     0
Gas        0
Unit       0
2019       0
2018       0
2017       0
2016       0
2015       0
2014       0
2013       0
2012       0
2011       0
2010       0
2009       0
2008       0
2007       0
2006       0
2005       0
2004       0
2003       0
2002       0
2001       0
2000       0
1999       0
1998       0
1997       0
1996       0
1995       0
1994       0
1993       0
1992       0
1991       0
1990       0
dtype: int64

# **Visualization**

Filtering by Energy sector

In [223]:
filtered_data = df.loc[df['Sector'] == 'Energy']
display(filtered_data)

,Country,Sector,Gas,Unit,2019,2018,2017,2016,2015,2014,...,1999,1998,1997,1996,1995,1994,1993,1992,1991,1990
0,World,Energy,All GHG,MtCO₂e,37636.10,37603.22,36777.63,36188.89,36173.70,36279.47,...,25389.87,25257.77,25075.28,24656.11,24150.88,23501.77,23395.58,23265.41,23365.41,23244.24
1,China,Energy,All GHG,MtCO₂e,10618.71,10432.77,10025.78,9806.69,9860.68,9959.18,...,3236.82,3340.24,3252.67,3198.31,3227.72,2899.43,2787.71,2571.87,2474.85,2360.68
3,United States,Energy,All GHG,MtCO₂e,5246.37,5372.73,5177.80,5239.70,5355.68,5471.15,...,5876.78,5863.62,5817.29,5546.45,5387.41,5334.97,5255.97,5147.1,5073.75,5112.27
4,European Union (27),Energy,All GHG,MtCO₂e,2731.36,2869.38,2935.99,2915.36,2905.92,2845.27,...,3347.54,3407.89,3419.04,3492.09,3389.17,3336.96,3357.54,3412.3,3535.21,3569.46
5,India,Energy,All GHG,MtCO₂e,2422.24,2421.71,2305.08,2177.18,2144.32,2133.15,...,924.19,863.68,848.91,805.05,770.77,718.91,685.7,661.97,645.15,602.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
372,Cook Islands,Energy,All GHG,MtCO₂e,0.09,0.09,0.09,0.08,0.07,0.08,...,0.05,0.05,0.05,0.05,0.04,0.04,0.04,0.04,0.04,0.04
374,Kiribati,Energy,All GHG,MtCO₂e,0.09,0.09,0.09,0.07,0.06,0.06,...,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.02,0.02,0.02
379,Nauru,Energy,All GHG,MtCO₂e,0.06,0.06,0.07,0.06,0.06,0.05,...,0.09,0.1,0.1,0.1,0.11,0.11,0.11,0.12,0.13,0.13
383,Niue,Energy,All GHG,MtCO₂e,0.01,0.01,0.01,0.01,0.01,0.01,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01
384,Tuvalu,Energy,All GHG,MtCO₂e,0.01,0.01,0.01,0.01,0.01,0.01,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01

Filtering by Transportation Sector

In [224]:
filtered_data1 = df.loc[df['Sector'] == 'Transportation']
display(filtered_data1)

,Country,Sector,Gas,Unit,2019,2018,2017,2016,2015,2014,...,1999,1998,1997,1996,1995,1994,1993,1992,1991,1990
2,World,Transportation,All GHG,MtCO₂e,8434.96,8417.75,8278.48,8073.90,7923.23,7685.67,...,5731.34,5566.9,5440.03,5360.38,5148.97,5012.39,4913.8,4871.85,4764.85,4725.54
7,United States,Transportation,All GHG,MtCO₂e,1815.66,1820.88,1781.51,1768.76,1756.63,1694.60,...,1735.15,1688.19,1648.88,1623.42,1583.18,1551.22,1497.05,1472.87,1440.67,1468.6
9,China,Transportation,All GHG,MtCO₂e,926.36,926.84,901.30,868.04,850.57,790.70,...,161.34,144.05,149.92,173.91,130.65,119.37,128.96,113.87,103.06,96.28
10,European Union (27),Transportation,All GHG,MtCO₂e,835.06,827.98,827.88,812.81,793.45,778.58,...,788.18,770.04,740.19,728.42,705.6,696.82,692.22,687.02,668.8,660.09
24,India,Transportation,All GHG,MtCO₂e,315.88,313.25,298.71,276.27,264.40,241.81,...,95.64,91.02,87.97,85.95,80.3,72.65,70.33,70.26,68.61,66.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,Kiribati,Transportation,All GHG,MtCO₂e,0.04,0.04,0.04,0.03,0.03,0.03,...,0.01,0.02,0.02,0.02,0.02,0.02,0.02,0.01,0.01,0.01
381,Sao Tome and Principe,Transportation,All GHG,MtCO₂e,0.04,0.03,0.03,0.03,0.03,0.03,...,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02
382,Nauru,Transportation,All GHG,MtCO₂e,0.02,0.02,0.02,0.02,0.01,0.01,...,0.02,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03
385,Niue,Transportation,All GHG,MtCO₂e,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
386,Tuvalu,Transportation,All GHG,MtCO₂e,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [225]:
print(df.loc[0:385, 'Country'])

0                      World
1                      China
2                      World
3              United States
4        European Union (27)
               ...
381    Sao Tome and Principe
382                    Nauru
383                     Niue
384                   Tuvalu
385                     Niue
Name: Country, Length: 386, dtype: object